{% extends 'base.html' %}

{% block content %}
<h1>NEW</h1>
<form action=" {% url 'articles:create' %} " method="POST">
  {% csrf_token %}
  <label for="title">TITLE:</label>
  <input type="text" id="title" name="title">
  <br>
  <div class="ps-0 md-0" style="height:300px">
    <label for="content" class="">CONTENT:</label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
  </div>
  <input type="submit">
</form>
<a href=" {% url 'articles:index' %} ">홈으로 돌아가기</a>

{% endblock  %}

