{% extends 'base.html' %}

{% block content %}
<h1>NEW</h1>
<form action=" {% url 'articles:create' %} " method="GET">
  <label for="title">TITLE:</label>
  <input type="text" id="title" name="title">
  <br>
  <dir class="ps-0 md-0" style="height:300px">
    <label for="content" class="">CONTENT:</label>
    {% comment %} <input type="text" id="content" name="content" class="col-3"> {% endcomment %}
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
  </dir>
  <input type="submit">
</form>
<a href=" {% url 'articles:index' %} ">홈으로 돌아가기</a>

{% endblock  %}

